@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
/* :root {
  --navbar-text-morning: #2C3E50;  /* Dark Blue for daytime */
  /* --navbar-text-night: #FFD700;  Gold for nighttime */
/* } */

/* Apply the time-based color */
/* [data-theme="light"] .navbar {
  color: var(--navbar-text-morning);
}

[data-theme="dark"] .navbar {
  color: var(--navbar-text-night);
} */ */

.navbar {
  padding: 15px 30px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  /* Soft rounded corners */
  border: 2px solid #ddd;
  /* Subtle border */
  box-sizing: border-box;
  /* color: var(--navbar-text-current); */
  /* transition: color 0.5s ease-in-out; */
}


.navbar-left h1 {
  color: blueviolet;
  font-weight: bold;
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  padding: 8px 12px;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: rgba(138, 43, 226, 0.1);
  text-decoration: none;
}

.user-role {
  padding: 5px 10px;
  background-color: rgba(138, 43, 226, 0.1);
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  color: blueviolet;
  animation: heartBeat 0.1s ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

.logout-button {
  background: linear-gradient(120deg, #1405ef, #05fcec);
  color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.logout-button:hover {
  background: linear-gradient(135deg, #012bf9, #f906bc);
  box-shadow: 2px 4px 12px rgba(255, 0, 0, 0.4);
  /* Enhance shadow on hover */
  transform: scale(1.05);
  /* Slight zoom effect */
}


.search-box {
  display: flex;
  margin-left: auto;
  background-color: #d7d5d5;
  border: none;
  border-radius: 5px;
  width: 20%;
  height: 40px;
  align-items: center;
  justify-items: center;
}

.search-box input {
  background-color: transparent;
  flex: 1;
  border: none;
  padding-left: 5%;
}

.search-box input::placeholder {
  color: #333;
}

.search-box button {
  border: none;
  align-items: center;
  padding: 5%;
  cursor: pointer;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar {
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .navbar-right {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}